{% extends "index.html" %}

{% block title %}
    {% if title %}{{ title }}{% else %}{{ 'Add Ticket' }}{% endif %}
{% endblock title %}

{% block body_attribs %}
class="hold-transition sidebar-mini"
{% endblock body_attribs %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Bug Ticket</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Tickets</a></li>
              <li class="breadcrumb-item active">Ticket Add</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <form method="POST" action="{{ url_for('bug_tickets.ticket_create') }}">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group">
                                    {{ form.hidden_tag() }}
                                    {{ form.title.label(**{'for':'inputName'}) }}
                                    {{ form.title(size=128, **{'id':'inputName', 'class' : 'form-control'}) }}
                                </div>
                                <div class="form-group">
                                    {{ form.ticket_contents.label(**{'for':'inputDescription'}) }}
                                    {{ form.ticket_contents(**{'class':'textarea',
                                                               'placeholder':'Ticket Contents here',
                                                               'style':'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;',
                                                               }) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                        {{ form.priority.label(**{'for':'inputStatus'}) }}
                        {{ form.priority(**{'class':'form-control custom-select'}) }}
                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                        {{ form.project.label(**{'for':'inputClientCompany'}) }}
                        {{ form.project(**{'class':'form-control custom-select'}) }}
                    </div>
                                </div>
                                <div class="col-4">
                                  <div class="form-group">
                        {{ form.assigned.label(**{'for':'inputProjectLeader'}) }}
                        {{ form.assigned(**{'class':'form-control custom-select'}) }}
                    </div>
                              </div>
                          </div>
                          <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
              </div>
              <div class="row">
                  <div class="col-12">
                      <a href="#" class="btn btn-secondary">Cancel</a>
                      {{ form.submit(**{'class':'btn btn-success float-bottom'}) }}
                      </form>
                  </div>
              </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock content %}

{% block scripts %}
<!-- jQuery -->
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- AdminLTE App -->
    <script src="{{ url_for('static', filename='dist/js/adminlte.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
    <script src="{{ url_for('static', filename='dist/js/demo.js') }}"></script>
<!-- Summernote -->
    <script src="{{ url_for('static', filename='plugins/summernote/summernote-bs4.min.js') }}"></script>
<script>
  $(function () {
    // Summernote
    $('.textarea').summernote()
  })
</script>
{% endblock scripts %}