{% extends "new_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {% if title %}{{ title }}{% else %}{{ 'Metamorphosis' }}{% endif %}
{% endblock title %}

{% block styles %}
    {% include '_styles.html' %}
{% endblock styles %}

{% block body_attribs %}
    {% include '_body_attribs' %}
{% endblock body_attribs %}

{% block pre_setup %}
<div class="wrapper">
{% endblock pre_setup %}

{% block navbar %}
    {% include '_navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
    {% include '_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
    {% include '_content.html' %}
{% endblock content %}

{% block footer %}
    {% include '_footer.html' %}
{% endblock footer %}

{% block post_setup %}
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
{% endblock post_setup %}

{% block scripts %}
    {% include '_scripts.html' %}
{% endblock scripts %}